selenium
beautifulsoup4
pandas
folium
plotly
matplotlib
seaborn
Scrapy
ipykernel
fastapi[standard]
uvicorn
pydantic
sqlalchemy
psycopg2-binary
python-jose
passlib
python-dotenv
pytest
pytest-cov
pycodestyle
asyncio
httpx
pytest-asyncio
pytest-mock