# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.21.3
pandas==2.2.3
pyarrow==15.0.2
requests==2.32.3
python-dotenv==1.0.1
azure-storage-file-datalake==12.18.1